* {
    font-family: "Geo", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.mynavbar {
  margin-bottom: 20px;
  background-color: #333;
  color: white;
}

.navbar-brand {
  color: white;

  font-size: 1.8em;
}

.navbar-brand:hover {
  color: white
}

.btn {
  color: white;
  border-color: white;
}

.btn:hover {
  background-color: #61dbfb;
  color: #333;
}

.small-container {
  max-width: 300px;
  margin: auto;
}