/* https://catppuccin.com/palette/   Latte*/
:root {
  --React: #61dbfb;
  --Rosewater: #dc8a78;
  --Pink: #ea76cb;
  --Mauve: #8839ef;
  --Maroon: #e64553;
  --Peach: #fe640b;
  --Yellow: #df8e1d;
  --Green: #40a02b;
  --Teal: #179299;
  --Sapphire: #209fb5;
  --Lavender: #7287fd;
  --Base0: #eff1f5;
  --Base1: #ccd0da;
  --Base2: #acb0be;
  --Base3: #8c8fa1;
  --Base4: #6c6f85;
  --Base5: #4c4f69;
  --Base6: #111;
}   

* {
  font-family: "Geo", sans-serif;
  font-weight: 400;
  font-style: normal;
  /* border: 1px solid red; */
}

.mynavbar {
  margin-bottom: 20px;
  background-color: var(--Base6);
  color: var(--Base0);
}

.navbar-brand {
  color: var(--Base0);
  font-size: 1.8em;
}

.navbar-brand:hover {
  color: var(--Base0)
}

.btn {
  color: var(--Base0);
  border-color: var(--Base0);
}

.btn:hover {
  background-color: var(--React);
  color: var(--Base6);
  border-color: var(--Yellow);
}

.small-container {
  max-width: 300px;
  margin: auto;
}

.btn-primary {
  background-color: var(--Base0);
  border-color: var(--Base6);
  color: var(--Base6);
}

a {
  color: var(--Mauve);
  text-decoration: none;
  font-size: 20px;
  margin: 0px;
}
a:hover {
  color: var(--Lavender);
  /* text-decoration: underline; */
}

h4 {
  font-size: 30px;
  color: var(--Base1);
  margin: 0;
}